<div class="card">
  <h2>Kylie's SLKey</h2>
  <h3>Hope this will make things easy for you !</h3>

  <form [formGroup]="converterForm">
    <div class="input-group">
      <label>Singlish Input</label>
      <textarea 
        formControlName="sourceInput" 
        placeholder="Type here..."
        rows="5">
      </textarea>
    </div>
    <div class="input-group">
      <label>SL View</label>
        <textarea 
        class="sinhala-textarea"
        formControlName="targetInput" 
        rows="5"
        readonly>
        
    </textarea>
    </div>
    <div class="input-group">
      <label>Mapped Output</label>
      <div class="copy-container">
        <textarea 
          formControlName="targetInput" 
          rows="5"
          readonly>
        </textarea>

        <button 
          type="button" 
          (click)="copyToClipboard()" 
          [disabled]="!converterForm.get('targetInput')?.value">
          {{ copied ? 'Copied!' : 'Copy' }}
        </button>
      </div>
    </div>
     
  </form>

  <div class="mapping-hint">
  <!-- Rules:
  <ng-container *ngFor="let rule of displayRules; let last = last">
    <code>{{ rule.from }} → {{ rule.to }}</code>
    <span *ngIf="!last"> | </span>
  </ng-container>
</div> -->
</div>

