<div class="card">
  <h2 style="color: #ef516c;">🌸 Kylie's SLKey 🌸</h2>
  <h3>Keep writing, Your words carries magic !</h3>

  <form [formGroup]="converterForm">
    <div class="input-group">
      <label>Singlish Input</label>
      <textarea 
        formControlName="sourceInput" 
        placeholder="Type here..."
        rows="4">
      </textarea>
    </div>
    <div class="input-group">
      <label>Sinhala View</label>
        <textarea 
        class="sinhala-textarea"
        formControlName="targetInput" 
        rows="4"
        readonly>
        
    </textarea>
    </div>
    <div class="input-group">
      <label>Mapped Output</label>
      <div class="copy-container">
        <textarea 
          formControlName="targetInput" 
          rows="4"
          readonly>
        </textarea>

        <button 
          type="button" 
          (click)="copyToClipboard()" 
          [disabled]="!converterForm.get('targetInput')?.value">
          {{ copied ? 'Copied!' : 'Copy' }}
        </button>
      </div>
    </div>
     
  </form>

  <div class="mapping-hint">
    <div style="position: fixed;bottom: 10px ;right :10px; font-size: 18px; font-weight: bold;">made with ❤️ by Asad</div>
  Rules:
  <ng-container *ngFor="let rule of displayRules; let last = last">
    <code>{{ rule.from }} → {{ rule.to }}</code>
    <span *ngIf="!last"> | </span>
  </ng-container>
</div>
</div>

